@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes waterAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

body {
  background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
  background-size: 400% 400%;
  animation: waterAnimation 10s ease infinite;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: auto;
}

.map-wrapper {
  max-width: 100%; 
  overflow: hidden;
}
